@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer components {
    .text-input {
        @apply w-full [&_.MuiOutlinedInput-root]:h-12 [&_.MuiOutlinedInput-root]:rounded-full;
        @apply dark:[&_.MuiOutlinedInput-root]:bg-gray-900 dark:[&_.MuiOutlinedInput-root]:text-white;
        @apply dark:[&_.MuiOutlinedInput-root]:border-white dark:[&_.MuiOutlinedInput-root]:placeholder-gray-300;
        @apply dark:[&_.MuiOutlinedInput-root]:border dark:[&_.MuiOutlinedInput-root]:focus-within:border-white;
    }
}
