.layout {
    width: 375px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 110px 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dots {
    align-items: center;
}

.dot {
    width: 9px;
    height: 9px;
}

.dotActive {
    width: 18px;
    height: 7px;
    border-radius: 3.5px;
    background-color: transparent;
    border: 1px solid #5D9BFC;
}

.nextButton {
    width: 100%;
    justify-content: flex-start;
    border-radius: 30px;
    background-color: #5D9BFC;
    color: #fff;
    text-transform: none;
}

.nextArrowContainer {
    width: 80px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 65px;
    border-radius: 70px;
}